<img src="https://i.postimg.cc/zfSJg3YV/traffic-lights-realistic-1284-4985-2-removebg-preview-1.png" alt="">
<div class="container-fluid">
    <h1>Online Traffic Challan Portal</h1>
    <div class="buttons">
        <nav class="navbar navbar-dark">
            <button routerLink="" style="margin-left: 410px; border-radius: 20px;">HOME</button>&nbsp;&nbsp;
            <button routerLink="/rules" style="border-radius: 20px;">RULES</button>&nbsp;&nbsp;
            <button routerLink="/guidelines" style="border-radius: 20px;">GUIDELINES</button>&nbsp;&nbsp;
            <button routerLink="/" (click)=logout() style="border-radius: 20px;">LOGOUT</button>&nbsp;&nbsp;
        </nav>
    </div>
</div>
<router-outlet></router-outlet>