button {
   margin-left: 45%; 
}
p{
    text-align: center;
}
img{
    margin-left: 400px;
    border-radius: 10px solid black;
}
textarea{
    width: 500px ;
    margin-left: 300px;
}
label{
    margin-left: 300px;
    font-weight: bold;
}