<div class="container" style="margin-top:20px">
  &nbsp;
  <div class="row" style="margin-left: 20%; margin-top: -20px;">
    <div class="col-sm-3" style="margin-left: 800px;">
      <a type="button" routerLink="/policehome" class="btn btn-info">Go Back</a>
    </div>
  </div>
  &nbsp;
  <div class="row align-items-start" style="border-radius: 20%;">
    <div class="col-4" *ngFor="let challan of challans">
    <div class="card" style="width: 22rem; border-radius: 30px;">
        <div class="row g-3">
          <div class="col-sm-2 col-md-12">
            <img src="{{challan.proofUrl}}" class="img-fluid rounded-start">
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <p class="card-title"><b>Challan No :</b>  {{challan.challanNo}}</p>
              <p class="card-text"><b>Voilation ID :</b> {{challan.voilationId}}</p>
              <p class="card-text"> <b>Vehicle No : </b> {{challan.vehicleNo}}</p>
              <p class="card-text"><b>Challan amount : </b>{{challan.challanAmount}}</p>
              <p class="card-text"><b>Location : </b>{{challan.location}}</p>
              <p class="card-text"><b>Issued Date :</b> {{challan.date}}</p>
              <p class="card-text"><b>Due Date :</b> {{challan.dueDate}}</p>
            </div>
          </div>
        </div>
      </div>
      &nbsp;
    </div>
</div>