<img src="https://i.postimg.cc/zfSJg3YV/traffic-lights-realistic-1284-4985-2-removebg-preview-1.png" alt="">
<div class="container-fluid">
    <h1>Online Traffic Challan Portal</h1>
    <div class="buttons" style="margin-left: 510px;">
        <nav >
            <button class="btn-primary" routerLink="">HOME</button>&nbsp;
            <button class="btn-primary" routerLink="/rules" >RULES</button>&nbsp;
            <button class="btn-primary" routerLink="/guidelines">GUIDELINES</button>&nbsp;
            <button class="btn-danger" routerLink="/" (click)=logout() style="margin-left: 400px;">LOGOUT</button>
        </nav>
    </div>
</div>
<router-outlet></router-outlet>